{% extends "base.html" %}

{% block title %}뉴스 목록{% endblock %}

{% block content %}
<div id="content">
    <h1>뉴스 리스트</h1>
    <form action="/Mynews/refresh" method="post">
        {% csrf_token %}
        <input type="submit" value="Refresh">
    </form>

    <!-- display blog list -->
    {% for post in posts %}
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p>{{post.writer}}</p>
        <p>{{post.article}}</p>
        <p>{{post.href}}</p>
    {% endfor %}
    <br/>

    <!-- paging link -->
    <div>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
        {% endif %}
        
        [ Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages}} ]

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>    
{% endblock %}