{% extends "base.html" %}

{% block title%}home.html{% endblock %}

{% load static %}
{% block extrastyle %}{% static 'css/home.css' %}{% endblock %}

{% block content %}
    <div id="content_home">
        <div id="homeimg">
            <img src="{% static 'img/django-actor-big.jpg' %}" style="height: 400px;"/>
            <h4 style="margin: 0;">뉴스 및 주식 스크래핑을 도와드립니다.</h4>
        </div>
    </div>

    {% comment %} <div style="margin-top: 100px;">
    <form action="[서버의 URL]" method="get">
        키워드 검색: <input type="text" name="search_word"> <br/>
        검색 범위: <input type="radio" name="category"> IT &nbsp;&nbsp;
                <input type="radio" name="category"> 여행
                <br>
        <input type="submit" value="검색">
    </form>
    </div> {% endcomment %}
{% endblock %}

{% block footer %}
    <div id="footer">
        &copy; This is FOOTER area.
    </div>
{% endblock %}